<launch>
    <arg name="path" default="/home/kseniia/downloads/semantic_pseudo_point_cloud.bag" />
    
    <node pkg="rosbag" type="play" name="player" output="screen" args="--clock $(arg path)"/>
    <node pkg="semantic_to_occupancy" type="sem_to_occup_grid.py" name="points_to_occp_grid_node"/>
    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0 1 map base_link 100" />
    <node pkg="rviz" type="rviz" name="rviz" />
</launch>